<div class="container">
  <div class="row">
    <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
      <div class="card card-signin my-5">
        <div class="card-body">
          <h5 class="card-title text-center">Sign Up</h5>
          <form class="form-signin" #onSignUpF="ngForm" (submit)="onSignUp(onSignUpF)">

            <div class="form-label-group">
              <input type="text" id="name" class="form-control" ngModel name="name" placeholder="Full Name" required autofocus>
              <label for="name">Full Name</label>
            </div>

            <div class="form-label-group">
              <input type="email" id="inputEmail" class="form-control" ngModel name="email" placeholder="Email address" required autofocus>
              <label for="inputEmail">Email address</label>
            </div>

            <div class="form-label-group">
              <input type="password" id="inputPassword" class="form-control" ngModel name="password" placeholder="Password" required>
              <label for="inputPassword">Password</label>
            </div>

            <div class="form-label-group">
              <input type="password" id="confirmInputPassword" class="form-control" ngModel name="confirmpassword" placeholder="Confirn Password" required>
              <label for="confirmInputPassword">Confirm Password</label>
            </div>

            <button class="btn btn-lg btn-primary btn-block text-uppercase" type="submit">Sign in</button>
            <a routerLink="">Sign In</a>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
